mapeditor.org
lutris
micro
mpv
libreoffice/4/user
Code
DisplayCAL
KDE
Kvantum
Melvor Idle
Nextcloud
OpenRGB
Signal
aseprite
bleachbit
blender/4.0/config
cef_user_data/Dictionaries
darktable
dconf
deluge
discord
environment.d
falkon/profiles
fish
garuda
godot
gtk-3.0
gtk-4.0
kde.org
kdeconnect
kdedefaults
lazygit
libaccounts-glib
obsidian
octopi
pacseek
psd
pulse
session
signond
smplayer
systemd/user/default.target.wants
unity3d/Game Smithing/Soulstone Survivors
vlc
xsettingsd
zellij
QtProject.conf
Trolltech.conf
akregatorrc
appimagelauncher.cfg
arkrc
baloofileinformationrc
baloofilerc
bluedevilglobalrc
boxtron.conf
dolphinrc
emaildefaults
gtkrc
gtkrc-2.0
gwenviewrc
kactivitymanagerd-statsrc
kactivitymanagerd-switcher
kactivitymanagerdrc
katemetainfos
katerc
kateschemarc
katevirc
kcminputrc
kconf_updaterc
kdeconnect-settingsrc
kded5rc
kdeglobals
kfontinstuirc
kglobalshortcutsrc
khotkeysrc
kmixrc
knfsshare
konquestrc
konsolerc
konsolesshconfig
kritadisplayrc
kritarc
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
libinput-gestures.conf
mimeapps.list
okularpartrc
okularrc
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma.emojierrc
plasmanotifyrc
plasmarc
plasmashellrc
powermanagementprofilesrc
soffice.binrc
spectaclerc
systemmonitorrc
systemsettingsrc
touchpadrc
touchpadxlibinputrc
trashrc
user-dirs.dirs
user-dirs.locale
xdg-desktop-portal-kderc
nushell/history.txt
wiki-tui
